@import url(tema.css);

textarea {
  height: 100px;
  width: 100px;
}

.custompadding {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.mapsize {  
  height: 400px;
  width: 660px;
}


.buttonsize{
  height: 200px;
  width: 200px;
}
.customcolor1{
  color: var(--azulPrimario);
}
